<a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" title='{{ i18n "on-top" }}' data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
<footer>
    <div id="footer">
        <div class="container">
            <div class="text-muted">
                {{ partial "ads" . }}
                {{ partial "social.html" . }}
                {{ partial "contact/modalContact.html" . }}
                {{ partial "contact/alertContact.html" . }}
                <p>Made with ♥ by <a href="{{ .Site.Params.authorAlessandro.Instagram }}"> {{ .Site.Params.authorAlessandro.name }} </a>
                    and <a href="{{ .Site.Params.authorDenise.Instagram }}"> {{ .Site.Params.authorDenise.name }} </a></p>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</footer>

{{ partial "js" . }}
