    {{ partial "head" . }}
    <body>
        <div id="wrap">
            {{ partial "header" . }}
            <section id="about">
                <div class="container">
                    <div class="avatar">
                        <img class="img-rounded flag-image" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Nepal flag">
                    </div>
                    <div class="homepage">
                        {{.Content}}
                    </div>
                </div>
            </section>
            <br><br>
        </div>
        {{ partial "footer" . }}
    </body>
</html>
